@import "tailwindcss";
* {
  box-sizing: border-box;
}

@theme {
  --color-primary: #0e141b;
  --color-background: #111621;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
